# Application Configuration
replicaCount: 1

image:
  repository: zohidjon30/agricultural-platform
  tag: "1.0.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

serviceMonitor:
  enabled: true
  interval: 15s
  path: /actuator/prometheus

# PostgreSQL Configuration
postgresql:
  host: agricultural-platform-postgres
  port: 5432
  database: agricultural_db
  username: postgres
  password: postgres123

  storage:
    size: 1Gi

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi