apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-postgres
  labels:
    app: {{ .Release.Name }}-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-postgres
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-postgres
    spec:
      containers:
          - name: postgres
            image: postgres:16-alpine
            ports:
              - containerPort: 5432
            env:
              - name: POSTGRES_DB
                value: {{ .Values.postgresql.database | quote }}
              - name: POSTGRES_USER
                value: {{ .Values.postgresql.username | quote }}
              - name: POSTGRES_PASSWORD
                value: {{ .Values.postgresql.password | quote }}
            volumeMounts:
              - name: postgres-storage
                mountPath: /var/lib/postgresql/data
            resources:
              limits:
                cpu: {{ .Values.postgresql.resources.limits.cpu }}
                memory: {{ .Values.postgresql.resources.limits.memory }}
              requests:
                cpu: {{ .Values.postgresql.resources.requests.cpu }}
                memory: {{ .Values.postgresql.resources.requests.memory }}
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-postgres-pvc
