apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  labels:
    app: {{ .Release.Name }}
type: Opaque
stringData:
  DB_USERNAME: {{ .Values.postgresql.username | quote }}
  DB_PASSWORD: {{ .Values.postgresql.password | quote }}
